{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove52/drawers

    Moove drawer template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "courseindexopen": true,
        "navdraweropen": false,
        "blockdraweropen": true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "addblockbutton": ""
    }
}}
{{> theme_boost/head }}

{{#is_site_admin_page}}
<style>
    #page-admin-search #page-wrapper #page div#custom_border_for_site_admin {
        border-color: #61bb47;
        border-radius: 5px;
        border: 2.5px solid #61bb47;
        width: 85%;
        margin: 1rem auto;
    }
    .secondary-navigation{
        position: static !important;
        background-color: transparent;
        filter: none;
    }
    
    .secondary-navigation .moremenu .nav-tabs .nav-link{
        color: #0f6fc5 !important;
    }

    .secondary-navigation .moremenu .nav-tabs .nav-link:hover, .secondary-navigation .moremenu .nav-tabs .nav-link:focus {
        /* background-color: #0b347e; */
        color: gray !important;
    }
    .secondary-navigation .moremenu .nav-tabs .nav-link:hover, .secondary-navigation .moremenu .nav-tabs .nav-link:focus {
        background-color: transparent !important;
    }

    .secondary-navigation{
        filter: none;
    }

    .secondary-navigation .moremenu .nav-tabs .nav-link.active {
        border-bottom: 2px solid #fff;
        font-weight: 700;
        color: #495057 !important;
        background-color: #fff;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
    }
</style>
{{/is_site_admin_page}}

<body {{{ bodyattributes }}}>
{{> theme_moove52/moove/accessibilitybar }}

{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_moove52/navbar }}
    {{#courseindex}}
        {{< theme_moove52/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerheadercontent}}
                {{> theme_boost/courseindexdrawercontrols}}
            {{/drawerheadercontent}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_moove52/drawer}}
    {{/courseindex}}
    
    {{#hasblocks}}
        {{< theme_moove52/drawer }}
            {{$id}}theme_boost-drawers-blocks{{/id}}
            {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
            {{$drawercontent}}
                <div class="d-print-none">
                    <!-- Modo de edição-->
                    {{#addblockbutton}}
                        <div class="alert alert-info" role="alert">
                            <p>{{#str}}readspeaker_text, theme_moove{{/str}}</p>
                            <p class="mb-0"><a href="https://www.readspeaker.com/conecti-me">{{#str}}readspeaker_link, theme_moove{{/str}}</a></p>
                        </div>
                    {{/addblockbutton}}

                    {{{ addblockbutton }}}
                    {{{ sidepreblocks }}}
                </div>
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
            {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
            {{$drawerstate}}show-drawer-right{{/drawerstate}}
            {{$tooltipplacement}}left{{/tooltipplacement}}
            {{$drawercloseonresize}}1{{/drawercloseonresize}}
            {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
        {{/ theme_moove52/drawer}}
    {{/hasblocks}}
    <div 
        id="page" 
        data-region="mainpage" 
        data-usertour="scroller" 
        class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container"
        >
        {{#is_site_admin_page}}
            <div id="custom_border_for_site_admin">
                <style>
                    .arrow-btn {
                        position: relative;
                        display: inline-block;
                        background: #0069b4;
                        color: #fff;
                        text-decoration: none;
                        padding: 9px 35px;
                        font-weight: 600;
                        /* margin-right: 30px; */
                    }

                    .arrow-btn:hover {
                        color: #fff;
                        background: #005b9c;
                    }

                    .arrow-btn::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -20px;
                        width: 0;
                        height: 0;
                        border-top: 22px solid transparent;
                        border-bottom: 22px solid transparent;
                        border-left: 20px solid #0069b4;
                    }

                    .arrow-btn:hover::after {
                        border-left-color: #005b9c;
                    }

                    .btn-secondary-custom {
                        background: #d9dee3;
                        border: none;
                        color: #333;
                        padding: 12px 20px;
                    }

                    .btn-secondary-custom:hover {
                        background: #cdd3d9;
                    }
                </style>
                <div class="p-4">
                    <!-- Logo -->
                    <h2 class="text-danger fw-bold mb-3">DGRV</h2>

                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <!-- Left Navigation -->
                        <div class="d-flex gap-6 flex-wrap">

                            <a href="/new/my" class="arrow-btn">Dashboard</a>

                            <a href="#" class="arrow-btn">Site administration</a>

                            <a style="text-decoration: none;" class="arrow-btn">Search</a>

                        </div>

                        <!-- Right Button -->
                        <button class="btn btn-secondary-custom mt-3 mt-lg-0">
                            Blocks editing on
                        </button>
                    </div>
                </div>
            </div>
        {{/is_site_admin_page}}

        <div id="custom_border_for_site_admin">
            {{{ output.full_header }}}

            {{#secondarymoremenu}}
                <div class="secondary-navigation d-print-none moove">
                    <div class="moove-container-fluid">
                        {{> core/moremenu}}
                    </div>
                </div>
            {{/secondarymoremenu}}
    
            <div id="topofscroll" class="main-inner">
                <div class="drawer-toggles d-flex">
                    {{#courseindex}}
                        <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                            <button
                                class="btn icon-no-margin"
                                data-toggler="drawers"
                                data-action="toggle"
                                data-target="theme_boost-drawers-courseindex"
                                data-toggle="tooltip"
                                data-placement="right"
                                title="{{#str}}opendrawerindex, core{{/str}}"
                            >
                                <span class="sr-only">{{#str}}opendrawerindex, core{{/str}}</span>
                                {{#pix}} t/index_drawer, moodle {{/pix}}
                            </button>
                        </div>
                    {{/courseindex}}
                    {{#hasblocks}}
                        <div class="drawer-toggler drawer-right-toggle ms-auto d-print-none">
                            <button
                                class="btn icon-no-margin"
                                data-toggler="drawers"
                                data-action="toggle"
                                data-target="theme_boost-drawers-blocks"
                                data-toggle="tooltip"
                                data-placement="right"
                                title="{{#str}}opendrawerblocks, core{{/str}}"
                            >
                                <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
                                <span class="dir-rtl-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
                                <span class="dir-ltr-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
                            </button>
                        </div>
                    {{/hasblocks}}
                </div>
    
                <div id="page-content" class="pb-3 d-print-block">
                    <div id="region-main-box">
                        {{#hasregionmainsettingsmenu}}
                        <div id="region-main-settings-menu" class="d-print-none">
                            <div> {{{ regionmainsettingsmenu }}} </div>
                        </div>
                        {{/hasregionmainsettingsmenu}}
                        <div id="region-main">
    
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{#headercontent}}
                                {{> core/activity_header }}
                            {{/headercontent}}
                            {{#overflow}}
                                <div class="container-fluid tertiary-navigation">
                                    <div class="navitem">
                                        {{> core/url_select}}
                                    </div>
                                </div>
                            {{/overflow}}
                            {{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {{> theme_moove52/footer }}

    {{{ output.standard_after_main_region_html }}}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
